
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustoPlanner | About Us</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- custom js file link  -->
    <script src="~/UI/js/script.js"></script>
    <link rel="stylesheet" href="~/UI/css/about.css">
</head>

<body>
    <!-- nav section starts -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4a4d4b ;">
        <div class="container-fluid">
            <a href="#" class="logo" style="color: yellow;">Custo<span style="color: white;">Planner</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="item-nav">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        &nbsp; &nbsp;
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Home", "Home", "Home")</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("About", "About", "About")</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Gallery", "Gallery", "Gallery")</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Contact", "Contact", "Contact")</a>
                        </li>
                        &nbsp;
                        <li class="nav-item">
                            <a class="nav-link" @Html.ActionLink("Services", "Main", "Services")></a>
                        </li>
                    </ul>
                </div>
            </div>
    </nav>

    <!-- nav section ends -->


    <center>
        <div class="home">
            <br><br><br>
            <div class="content center">
                <h3>Its time to celebrate! the best <span> event organizers </span></h3>

                <br>
                <hr style="color: white;
                  max-width: 40rem; ">
                <br>
                <h4>About <span> Us </span></h4>

                <br><br><br>
            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-5">
                        <img src="~/UI/images/about-img.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h2 class="card-title">Our Goals</h2>
                            <p class="card-text">
                                As the premier event planning company in Pakistan we know that its not
                                “one size fits all”. Each event and client is unique and we believe our services should
                                be as well.
                            </p>
                            <p class="card-text">
                                CustoPlanner is an event management, catering, PR and photography
                                company located in Karachi, Pakistan. We specialize in weddings, parties, corporate
                                events and much more. We use our expertise to create powerful impressions in all of our
                                endeavors, to make your event leave a lasting impression for years to come..
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <hr style="color: white; max-width: 40rem; ">
            <br>


    </center>
    </div>

    <!-- footer section starts -->

    <section id="footer">
        <div class="container">
            <br><br>
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <br><br> <br><br> <br>
                    <a href="#" class="logo" style="color: yellow;">Custo<span style="color: white;">Planner</span></a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">

                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp; @Html.ActionLink("Home", "Home", "Home")</li>
                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp;  @Html.ActionLink("About", "About", "About")</li>
                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp; @Html.ActionLink("Gallery", "Gallery", "Gallery")</li>
                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp; @Html.ActionLink("Contact", "Contact", "Contact")</li>
                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp; @Html.ActionLink("Event Planner", "Contact", "Contact")</li>
                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp; @Html.ActionLink("Catering Service", "Contact", "Contact")</li>
                        <li><i class="fa fa-angle-double-right" style="color:yellow"></i>&nbsp; @Html.ActionLink("Photography", "Contact", "Contact")</li>

                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Get In Touch With Us</h5>
                    <p class="text-white">
                        <img src="~/UI/icons/location.png" width="8%"><br />
                        5TH Floor Haji Adam Chambers, Altaf Hussain Road,
                        New Challi I.I Chundigarh , Karachi , Pakistan
                    </p>
                    <p class="text-white">
                        <img src="~/UI/icons/call.png" width="8%"><br>+92 21 111 112 111 <br> (9am - 10pm , Mon
                        - Sat, Sunday 11am - 08pm)
                    </p>
                    <img src="~/UI/icons/email.png" width="8%"><br />
                    <a style="text-decoration:none" href="mailto:eshop@dates.com"><u> custoplanner@gmail.com</u></a>
                    <br><br>
                    <img src="~/UI/icons/youtue.png" width="8%">
                    <img src="~/UI/icons/twitter.png" width="8%">
                    <img src="~/UI/icons/whatsapp.png" width="8%">
                </div>
            </div>
    </section>

    <!-- footer section end  -->


</body>

</html>